annotated-types==0.7.0
anyio==4.4.0
certifi==2024.8.30
contourpy==1.3.0
cycler==0.12.1
distro==1.9.0
fonttools==4.53.1
h11==0.14.0
httpcore==1.0.5
httpx==0.27.2
idna==3.8
jiter==0.5.0
kiwisolver==1.4.7
matplotlib==3.9.2
numpy==2.1.1
openai==1.44.0
packaging==24.1
pandas==2.2.2
pillow==10.4.0
pydantic==2.9.0
pydantic_core==2.23.2
pyparsing==3.1.4
PyQt5==5.15.11
PyQt5-Qt5==5.15.14
PyQt5_sip==12.15.0
python-dateutil==2.9.0.post0
python-dotenv==1.0.1
pytz==2024.1
six==1.16.0
sniffio==1.3.1
tqdm==4.66.5
typing_extensions==4.12.2
tzdata==2024.1
